<section class="hey">
<div class="vh-100 text-center mb-3 backimg" style="background-color:white; "><h2 style="color:orange;">Registration</h2>
<div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder:"Email",pattern:"[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$", type: "text" %>
  </div><br>

  <div class="field">
    <% if @minimum_password_length %>
    <em></em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password",placeholder:"Password" %>
  </div><br>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" ,placeholder:"password_confirmation"%>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</section>