<body>
	<section class="main-page-padding">
		<br><div>
			<input type="radio">
			<% if @address.present? %>
				<%= @address.Address %>,
				<%= @address.State %>,
				<%= @address.Country %>,
				<%= @address.pin_code %>,
				<%= @address.mobile_no %>
			<%end%>
		</div><br>
 		<div><input type="submit" name="change" value="Change Address" onclick="myFunction();" ></div><br>
			<div class=" backimg " id="myDIV"><h2 class="vh-100 form-alignment">Checkout Form</h2>
			<%= render :partial => 'form.html.erb'%>
			</div><br>
			<div class="container">
			<div class="row">
			<div class="col-sm-6">
			<h2 class="text-center mb-3">Review</h2>
				<tbody>
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Total</td>
										<td><span class="price-symbol">₹</span><%= @checkout_total.to_i %></td>
									</tr>
								</table>
							</td>
						</tr>
				</tbody>
			</div>
		<div class="col-sm-6 text-center mb-3">
			<h2 class="text-center mb-3">Payment</h2><br>
		<div class="width">
			<%= button_to "COD",cod_payment_index_path, method: :get %><br>
			<%= button_to "Stripe",stripe_payment_payment_index_path(final_amount: @checkout_total ) %></div>
		</div>
	</div>
	</section> 
</section>
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } 
  else {
    x.style.display = "none";
  }
}
</script>
</body>
</html>