<body>
	<section id="cart_items">
		<div class="container">
			
			<div class="table-responsive cart_info">
				<table class="table table-condensed">
					<thead>
						<tr class="cart_menu">
							<td class="image">Item</td>
							<td class="image">Product_Image</td>
							<td class="price">Price</td>
							<td class="quantity">Quantity</td>
							<td class="total">Total</td>
							<td class="total"> remove</td>
						</tr>
					</thead>
					<tbody>
						<% @product_price_lists = [] %>
						<% @cart.each do |product| %>
							<tr>
								<td><h3><%= product.name %></h3> </td>
								<td><%= image_tag(product.product_images.first.image)%></td>
								<td class="cart_price"><p><%= product.price %></p></td>
								<td class="quantity">
									<%= button_to '+',add_quantity_path(product), method: :post, remote: true,class: 'btn primary quantity'%>	
									<input  name="quantity" value="<%= product.quantity %>"size="1">
									<%= button_to '-',dec_quantity_path(product), method: :post,remote: true, class: 'btn primary' %>
								</td>
								<td class="cart_total">
									<p><%= tp = (product.quantity)*(product.price) %></p>
									<% @product_price_lists << tp %>
									<% @@total_price = @product_price_lists.inject {|sum,price| sum + price} %>
								</td>
								<td class="cart_delete"><br><br><br><br><br>
									<%= button_to "X", remove_from_cart_path(product), method: 	:delete %>
								</td>
							</tr>
						<% end %>
					</tbody>
					
				</table>
			</div>
		</div>
	</section> <!--/#cart_items-->

	<section id="do_action">
		<div class="container">
			<div class="heading">
				<h3>What would you like to do next?</h3>
				<p>Choose if you have a discount code or reward points you want to use or would like to estimate your delivery cost.</p>
			
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="chose_area">
						<ul class="user_option">
			
							<li >
						<%= form_with model: @coupon, url: shop_cart_path,  local:true  do |form| %>
						<ul class="user_option">
							<li>
							<div class="mb-3">
								<%= form.label :coupon_code %>
								<%= form.text_field :code, class: "form-control" , placeholder: "enter coupon code" %>
							</div>
								
							</li>
							<li>
							<div class="mb-3">
								<%= form.submit "Apply", class: "btn btn-primary" %>
							</div>
							<% if @mv.present? %>
               					 <p style="color: greenyellow;"><%= @msgg %>
           				   <% end %>
							</li>
						</ul>
						<% end %>
							</li>
						</ul>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="total_area">
						<ul>
							<li> Cart Total Price <span>  <%= @value %> </span></li>
							<li>Shipping Cost <span><%= @shipping_cost %></span></li>
							<li>Total<span><%= @f_value %><span></li>
							
							<%if @f_value == 0 %>
								<br><h6 style="color:red"><%= "please add the product in cart" %></h6>
							<%else%>
								<span class="btn btn-default check_out" href=""><%= link_to "Checkout", shop_checkout_path %> </span>
							<%end%>
							</ul>
					</div>
				</div>
			</div>
		</div>
	</section><!--/#do_action-->
</body>
</html>