<body><div><input type="radio">
			<% if @address.present? %>
			<%= @address.Address %>,
			<%= @address.State %>,
			<%= @address.Country %>,
			<%= @address.pin_code %>,
			<%= @address.mobile_no %>
			<%end%>
		</div>
 <div><input type="submit" name="change" value="Change Address" onclick="myFunction();" ></div>
<div class=" backimg" id="myDIV" style="background-color:white;display: none;"><h2 class="vh-100 text1 ">Checkout Form</h2>
	<div class="container" >
	  	<%= form_with model: @useraddress, url:shop_create_path, method: :post do |form| %>
				<% if @user_address.errors.any? %>
					<div class="alert alert-danger">
						<% @user_address.errors.full_messages.each do |msg| %>
							<div><%= msg %></div>
						<% end %>
					</div>	
				<%end%>
					<div class="row">
						<div class="col-sm-2"></div>
						<div class="col-sm-4">
					<%= form.label :first_Name %><br>
					<%= form.text_field :first_name ,required: true%><br>
					<%= form.label :Last_Name %><br> 
					<%= form.text_field :Last_name, required:true%><br>
						<%= form.label :mobile_no %><br> 
					<%= form.number_field :mobile_no, required:true%><br> 
					<div class="select_class" style="width: 187px;">
							<%= form.label :Country %>
						<br><%= form.select :Country, options_for_select( [['SELECT','SELECT'],['INDIA','INDIA'],['BRAZIL','BRAZIL'],['RASSIA','RASSIA'],['AMERICA','AMERICA']])%><br> <br>
					</div>
				</div>
				<div class="col-sm-4">
					<%= form.label :email %><br> 
					<%= form.email_field :email, required:true%><br>
					<%= form.label :Pin_code %><br> 
					<%= form.number_field :pin_code, required:true%><br> 
					<%= form.label :Alternate_mobile_no%><br> 
					<%= form.number_field :Alternate_mobile_no, required:true%><br>
					<div class="select_class" style="width: 187px;">
						<%= form.label :State %>
						<br><%= form.select :State, options_for_select( [['SELECT','SELECT'],['MAHARASHTRA','MAHARASHTRA'],['GOA','GOA'],['DELHI','DELHI'],['PANJAB','PANJAB']])%><br>  
					</div>
				</div>
			</div>
				<div class="wid">
					<%= form.label :Address %><br>
					<%= form.text_field :Address %><br>
				</div>
				</div>
					
				<div class="actions" style="margin-left: 270px;">
					<br><%= form.submit %><br><br> 
				</div>
				<% end %>
			</div>
		</div>
		</div><br>
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
			<h2 class="text-center mb-3">Review</h2>
				<tbody>
						<tr>
							<td colspan="4">&nbsp;</td>
							<td colspan="2">
								<table class="table table-condensed total-result">
									<tr>
										<td>Cart Sub Total</td>
										<td>$<%= @value %></td>
									</tr>
									<tr>
										<td>Exo Tax</td>
										<td>-</td>
									</tr>
									<tr class="shipping-cost">
										<td>Shipping Cost</td>
										<td>$<%= @ship %></td>										
									</tr>
									<tr>
										<td>Total</td>
										<td><span>$<%= @value %></span></td>
									</tr>
								</table>
							</td>
						</tr>
					</tbody>
			</div>
		<div class="col-sm-6 text-center mb-3">
			<h2 class="text-center mb-3">Payment</h2><br><br>
		<div class="width">
			<%= button_to "Stripe",shop_stripe_path %><br></div>
			<div>
			<%= button_to "COD",shop_cod_path ,method: :get %>
		</div>
	</div>
</div>
</section> 
<script>
function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>
</body>
</html>