<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,700,900&display=swap" rel="stylesheet">
  </head>
    <style>
      body {
        text-align: center;
        padding: 40px 0;
        background: #EBF0F5;
      }
        h1 {
          color: #88B04B;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-weight: 900;
          font-size: 40px;
          margin-bottom: 10px;
        }
        p {
          color: #404F5E;
          font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
          font-size:20px;
          margin: 0;
        }
      i {
        color: #9ABC66;
        font-size: 100px;
        line-height: 200px;
        margin-left:-15px;
      }
      .card {
        background: white;
        padding: 60px;
        border-radius: 4px;
        box-shadow: 0 2px 3px #C8D0D8;
        display: inline-block;
        margin: 0 auto;
      }
    </style>
    <body>
      <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="checkmark">✓</i>
      </div>
        <h1>Success</h1> 
        <p>payment successfully Done;<br/> Thanks for shopping!</p>
         <h4><%= button_to "okay", root_url %></h4>
      </div>
    </body>
</html>























          <div class="col-sm-5 clearfix">
          <div class="bill-to">
            <p>Bill To</p>
          <div class="form-one">
            <%= form_with model: @useraddress, url: shop_create_path,method: :post, remote: true do |form| %>
          <div class="field">
            
            <%= form.label :Address %>
            <%= form.text_field :Address %>
            
            <%= form.label :pin_code %>
            <%= form.text_field :pin_code %>
            <span>Country:
            <%= form.select :Country, options_for_select( [['Select','INDIA'],['BRAZIL','BRAZIL'],['RASSIA','RASSIA'],['AMERICA','AMERICA']])%><span>
            <br><span>State:
            <%= form.select :State, options_for_select( [['Select','MAHARASHTRA'],['GOA','GOA'],['DELHI','DELHI'],['PANJAB','PUNJAB']])%> <span>
            <%= form.label :mobile_no %>
            <%= form.telephone_field :mobile_no %>
            <%= form.label :Alternate_mobile_no %>
            <%= form.telephone_field :Alternate_mobile_no %>
              <div class="actions">
                <br>
                <%= form.submit "submit" %>
                </div>
              <% end %>

              </div>
            </div>
            </div>
          </div>
