<div class="text-center"class="chose_area">
	<ul class="user_option">
	<li >
		<%= form_with model: @orders, url: shop_track_path, method: :post,local: true,data: { turbo: false } do |form| %></li>
	<li>
	<div >
	<h4><%= form.label :user_order_id %>
	<%= form.text_field :user_order_id %></h4>
	</div>
	
	</li>
	<li>
	<div class="mb-3">
	<%= form.submit "Submit", class: "btn btn-primary" %>
	</div>
	</li>
	</ul>
	<% end %>
	</li>
	</ul>

<br><div><h4>Status:-<%= @user_order.present? ? @user_order.status : @error %></h4></div>
</div>