	<footer id="footer"><!--Footer-->
		<div class="footer-top">
				<div class="row row-margin">
					<div class="col-sm-2">
						<div class="companyinfo">
							<h2><span>e</span>-shopper</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do eiusmod tempor</p>
						</div>
					</div>
					<div class="col-sm-7">
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<%= image_tag("home/iframe1.png", alt: "") %>
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<%= image_tag("home/iframe2.png", alt: "") %>
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<%= image_tag("home/iframe3.png", alt: "") %>
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
						
						<div class="col-sm-3">
							<div class="video-gallery text-center">
								<a href="#">
									<div class="iframe-img">
										<%= image_tag("home/iframe4.png", alt: "") %>
									</div>
									<div class="overlay-icon">
										<i class="fa fa-play-circle-o"></i>
									</div>
								</a>
								<p>Circle of Hands</p>
								<h2>24 DEC 2014</h2>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="address">
							<%= image_tag("home/map.png", alt: "") %>
							<p></p>
						</div>
					</div>
			</div>
		</div>
		
		<div class="footer-widget">
				<div class="row row-margin">
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Service</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Online Help</a></li>
								<li><a href="#">Contact Us</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Quock Shop</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">T-Shirt</a></li>
								<li><a href="#">Mens</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>Policies</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Terms of Use</a></li>
								<li><a href="#">Privecy Policy</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-2">
						<div class="single-widget">
							<h2>About Shopper</h2>
							<ul class="nav nav-pills nav-stacked">
								<li><a href="#">Company Information</a></li>
								<li><a href="#">Careers</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-3 col-sm-offset-1">
						<div class="single-widget">
							<h2>Mailchimp Subscription</h2><br>
							<%if user_signed_in? %>
									<%= form_with url:subscribe_users_path, local: true do |form| %>
									<%= form.hidden_field :email, :value=> current_user.email %>
									<div class="actions">
											<b><%= form.submit "Subscribe" %></b>
									</div>
									<% end %>
								<%end%>
						</div>
					</div>
				</div>
			</div>
		</div>




		<div class="footer-bottom">
			<div class="row row-margin">
				<p class="pull-left">Copyright © 2023 E-SHOPPER Inc. All rights reserved.</p>
				<p class="pull-right">Designed by <span><a target="_blank" href="http://www.themeum.com">Avdhut</a></span></p>
			</div>
		</div>
	</footer><!--/Footer-->

  <%= javascript_include_tag"js/main.js" %>
  <%= javascript_include_tag"js/bootstrap.min.js" %>
  <%= javascript_include_tag"js/jquery.scrollUp.min.js" %>
  <%= javascript_include_tag"js/jquery.prettyPhoto.js" %>
  <%= javascript_include_tag"js/jquery.js" %>
