 <header id="header" class="fixx"><!--header-->
   <span >
    <% if notice %> 
      <p class="alert alert-success alrt"><%= notice %></p>
    <% end %>``
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </span>
  <div class="header-middle"><!--header-middle-->
    <div class="row row-margin">
      <div class="col-sm-4">
        <div class="logo pull-left">
          <%= link_to root_path do%><%= image_tag("home/logo.png", alt: "") %><% end %>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="shop-menu pull-right">
          <ul class="nav navbar-nav navbar-collapse">
            <li><%= link_to profile_index_path do%><%=image_tag("social/account.jpeg",class:"account-icon")%><span>Account</span><%end%>
              <ul role="menu" class="sub-menu">
                <li><%= link_to "Track Order", track_orders_path,:class=>"hee" %></li>
                <li><%= link_to "My order", orders_path,:class=>"hee" %></li>
              </ul>
            </li>
            <li><%= link_to wishlist_index_path do%><%= image_tag("social/wishh.png",class:"wishlist-icon", alt: "Wishlist") %>Wishlist<%end%></li>
              <% if user_signed_in? && @cart_products.size != 0 %>
            <li><%= link_to carts_path do%><%= image_tag("social/cart.png",class:"cart-icon", alt: "")%>Cart(<%=@cart_products.size%>)</li><% end %>
            <% else %>
            <li><%= link_to carts_path do%><%= image_tag("social/cart.png",class:"cart-icon", alt: "")%>Cart</li><%end%>
            <%end%>
            <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %><li>
            <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div><!--/header-middle-->
  <div class="header-bottom"><!--header-bottom-->
    <div class="row">
      <div class="col-sm-9">
        <div class="mainmenu pull-left">
          <ul class="nav navbar-nav navbar-collapse">
            <li><%= link_to "Home", root_path %></li>
            <li class="dropdown"><%= link_to "Shop", products_path %></li> 
            <li><%= link_to "Blog",blogs_path %></li>
            <li><%= link_to "Contact",contacts_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--/header-bottom-->
</header><!--/header-->
