<div class="container main-page-padding">
  <section id="slider "><!--slider-->
      <div class="row">
        <div class="col-sm-12">
            <% if @banners.any? %>
              <% @banners.each do |post| %>
            <div >
              <div class="item active">
                <div class="col-sm-6">
                  <h1><span>E</span>-SHOPPER</h1>
                  <h2> Ecommerce Website</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                </div>
                <div class="col-sm-6">
                  <%= image_tag post.image,class:"banner"  %>
                  <%= image_tag("home/pricing.png",class:"thumb") %>  
                </div>
                <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section><!--/slider-->
  <section class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="left-sidebar">
            <h2>Categories</h2>
            <% @category.each do |cat| %>
            <% subcat = cat.subcategories %>
            <div class="panel-group category-products" ><!--category-productsr-->
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordian" href="#<%= cat.name %>">
                      <span class="badge pull-right"><i class="fa fa-plus"></i></span>
                      <h2><%= cat.name %><span><%= image_tag("social/drop.png", class:"sidebar-dropdown") %> </span></h2>
                    </a>
                  </h4>
                </div>
                <div id="<%= cat.name %>" class="panel-collapse collapse">
                  <div class="panel-body subcat-panel">
                      <% subcat.each do |subc| %>
                    <ul>
                    <li><h4 class="productbtn"><%= link_to subc.name,category_path(subc) %></h4></li>
                    </ul>
                    <%end%>
                  </div>
                </div>
              </div>
            </div><!--/category-products-->
            <% end %>
            </div>
          </div>
          <div class="col-sm-9 padding-right">
          <div class="features_items"><!--features_items-->
            <h2 class="title text-center">Features Items</h2>
            <% if @products.present? %>
              <% @products.each do |prod| %>
            <div class="col-sm-4">
              <div class="product-image-wrapper">
                <div class="productinfo text-center">
                  <%= link_to product_path(prod) do%><%= image_tag(prod.product_images.first.image) %>
                  <% end %>
                  <h2>
                    <span class="price-symbol">₹</span><%= prod.price.to_i %></h2>
                  <p><%= prod.name %></p>
                  <p> <%= prod.short_description %></p>
                  </div>
                  <%= link_to carts_path(id: prod),method: :post do%><%= image_tag("social/cart.png",class:"iconss", alt: "")%>
                  <%= link_to wishlist_index_path(id: prod),method: :post do%><%= image_tag("social/wishh.png",class:"icons", alt: "") %>
                  <div class="choose">
                    <%end %>
                  <% end %>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
              <!-- <button class="more-prod-btn"><%= link_to "more", products_path %></button> -->
          </div>
        </div>
      </div>
  </section>
</div>
<script>
  function myFunction() {
  var x = document.getElementById("myDIV");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
  }
</script>
</body>
</html>