    <div class="container hey">
<% if @wishlists.present?%>
<section id="cart_items">
      <div class="table-responsive cart_info">
        <table class="table table-condensed">
          <thead>
            <tr class="cart_menu">
              <td class="image">Product image</td>
              <td class=name>Name</td>
              <td class="price">Price</td>
              <td class="adddd"></td>
              <td class="aaa"></td>
            </tr>
          </thead>
          <tbody>
            <% @wishlists.each do |wishlist| %>
              <% prod = wishlist.product %>
              <tr>
                <td><%= link_to product_path(prod) do%><%= image_tag(prod.product_images.first.image,class:"thumbnaill" ) %><%end%></td>
                <td><h4><%= prod.name %></h4></td>
                <td><p><%= prod.price %></p></td>
                <td class="adddd"><%= link_to carts_path(id: prod),method: :post do%><%= image_tag("social/cart.png",class:"iconss", alt: "ADD TO CART")%><%end%></td>
                <td class="aaa"><%= button_to "X", wishlist_path(id: prod), method: :delete %></td>
              </tr>
            <% end %>
          </tbody>
          
        </table>
      </div>
    </div>
  </section> <!--/#wishlist_item-->
<%else%>
 <%= image_tag("social/emptywish.png",class:"emptycart")%>  <br>
 <div style="margin-left:520px;"><button><%= link_to"shop",root_path%></button>
<%end%></div>