<body>	
	<section >
		<div class="container hey">
			<div class="row">
				
			
				<div class="col-sm-12 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-4">
							<div class="view-product">
								<%= image_tag(@product.product_images.first.image)%>
							</div>
							
						</div>
						<div class="col-sm-8">
							<div class="product-information"><!--/product-information-->
								<%= image_tag("product-details/new.jpg", alt: "") %>
								<h2><%= @product.name %></h2>
								<span>
									<span>$<%= @product.price %></span>
									<button type="button" class="btn btn-fefault cart">
										<%= button_to "cart", add_to_cart_path(@product) %>
									</button>
								</span>
								<p><b>Availability:</b> In Stock</p>
								<p><b>Condition:</b> New</p>
								<p><b>Brand:</b> E-SHOPPER</p>
								<button style="margin-top:20px;background-color: orange;"><%= link_to "For More products", shop_shopee_path %></button>
								
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->
			</div>
							
		</section>
	</body>
