<div>
  <%= form_with  model: @user, method: :patch, url: profile_path(current_user.id), authenticity_token: false  do |form| %>
    <% if user_signed_in? %>
      <% user = current_user %>
      <h3>First name</h3><%= form.text_field :first_name, required: true, class: 'form-control', value:user.first_name %>
      <h3>Last name</h3><%= form.text_field :last_name,class: 'form-control', value:user.last_name %>
      <h3>Mobile no</h3><%= form.text_field :mobile_no, required: true, class: 'form-control', pattern:"[0-9]{10}",value:user.mobile_no %>
      <h3>Email</h3><%= form.text_field :email, class: 'form-control', value:user.email,type:"text" %>
   <% end %><br>
    <div class="actions" >
      <%= form.submit"update" %>
    </div>
  <%end%>
</div><br>

